<!-- gallery.html -->
{% extends 'base.html' %}

{% load static %}


{% block content %}
    <!-- Non-empty state will come here -->


    <!-- Empty state hardcoded -->
    <div class="quote text-center mt-5">
        <p class="fs-3">Quote by Expert</p>
    </div>
    <div class="empty  text-center mt-5">
        <p class="display-4">No sculptures to display</p>
    </div>

    {% if user.is_staff %}
        <div class="cta d-flex justify-content-center my-5">
            <a href="{% url 'gallery:add-sculpture' %}" class="btn my-auto btn-secondary">Add sculpture</a>
        </div>
    {% endif %}
{% endblock %}