<!-- gallery.html -->
{% extends 'base.html' %}

{% load static %}
{% block extra_head %}
    <!-- Custom Gallery CSS -->
    <link rel="stylesheet" href="{% static 'gallery/css/gallery.css' %}">
{% endblock %}


{% block content %}
    <!-- Common states content -->
    <div class="quote text-center mt-3">
        <p class="fs-5">"Enel Dumitrascu's sculptures are spirals in constant motion -
            matter itself taking flight, rising beyond its own limits"<br>
            <span class="fs-6"> - Claudia Anca Moldovan, curator, Braila <br>(adapted from Romanian)</span></p>
    </div>
    <!-- Non-empty state will come here -->
    <!-- Themes Section -->
   <div class="container my-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <a href="" class="theme-card-link">
                    <div class="theme-card">
                        <img src="{% static 'gallery/images/inger_temporal.jpg' %}" alt="...">
                        <div class="theme-footer">
                            <h5>Time</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="" class="theme-card-link">
                    <div class="theme-card">
                        <img src="{% static 'gallery/images/expansiune_temporala.jpg' %}" alt="...">
                        <div class="theme-footer">
                            <h5>Angels</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="" class="theme-card-link">
                    <div class="theme-card">
                        <img src="{% static 'gallery/images/salt_in_timp.jpg' %}" alt="...">
                        <div class="theme-footer">
                            <h5>Leap</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Empty state hardcoded -->
    <!-- <div class="empty  text-center mt-5">
        <p class="display-4">No sculptures to display</p>
    </div> -->

    {% if user.is_staff %}
        <div class="cta d-flex justify-content-center my-5">
            <a href="{% url 'gallery:add-sculpture' %}" class="btn my-auto btn-secondary">Add sculpture</a>
        </div>
    {% endif %}
{% endblock %}