{% extends 'base.html' %}

{% load static %}
{% block extra_header %}
    <!-- Back link affordance -->
    <a href="{% url 'gallery:sculpture-detail' sculpture.slug %}"
        class="back-link ms-2 ms-lg-5 mt-2 link-body-emphasis link-underline-opacity-0 link-underline-opacity-100-hover link-offset-3">
        <!-- Bootstrap Icon - back arrow-->
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" aria-hidden="true" class="bi bi-arrow-left back-icon" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
    Back to {{ sculpture.title }}</a>
{% endblock %}

{% block content %}
    <div class="container my-4">
        <h1 class="h2">Terms of Purchase</h1>
        <div class="d-flex align-items-center gap-3 mt-5">
            <img src="{{ sculpture.image.url }}" alt="{{ sculpture.title }}" class="rounded" style="width: 80px; height: 80px; object-fit: cover;">
            <div>
            <h2 class="h4 mb-0">{{ sculpture.title }}</h2>
            {% if sculpture.title_translation %}
                <p class="text-muted small mb-0">{{ sculpture.title_translation }}</p>
            {% endif %}
            <p class="mb-0">£{{ sculpture.price }}</p>
            </div>
        </div>
        <hr>
        <form method="post">
            {% csrf_token %}

            <fieldset class="mb-3">
                <legend class="h6">Shipping method</legend>

                <div class="form-check">
                <input class="form-check-input" type="radio" name="shipping_method" id="pickup" value="pickup" checked>
                <label class="form-check-label" for="pickup">Studio Pickup</label>
                </div>

                <div class="form-check">
                <input class="form-check-input" type="radio" name="shipping_method" id="delivery" value="delivery">
                <label class="form-check-label" for="delivery">Delivery</label>
                </div>
            </fieldset>
        </form>

        <div id="country-choice" style="display: none;" class="mb-3 ms-5">
            <legend class="h6">Country</legend>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="country" id="country-uk" value="UK">
                <label class="form-check-label" for="country-uk">United Kingdom - £{{ uk_cost.cost }}</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="country" id="country-ro" value="RO">
                <label class="form-check-label" for="country-ro">Romania - £{{ ro_cost.cost }}</label>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'checkout/js/terms.js' %}"></script>
{% endblock %}
