{% extends 'base.html' %}
{% load static %}

{% block extra_title %} | Home{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'pages/css/home.css' %}">
{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block content %}
<section class="hero d-flex flex-column">
  <!-- Paragraph for making background image accessible to screen readers-->
  <p class="visually-hidden">
    Photo of a hand-forged spiral metal sculpture ('Temporal Expansion') by Enel Dumitrascu, over a dark marble-textured background.
  </p>
  <div class="hero-text">
    <div class="hero-poem d-none d-md-block mb-2">
      <p class="poem-line">...running through time to find its sweet, ripen fruit,</p>
      <p class="poem-line">I stop for a lifetime to pick them.</p>
      <p class="poem-line">I keep the seeds - priceless memories, and plant them</p>
      <p class="poem-line">...for when I come round, they're ripe and ready to be lived again,</p>
    </div>

    <h2 class="hero-wordmark d-none d-md-block">timefull, timeless</h2>

    <div class="hero-name">
      <h1 class="mb-0 mt-5">ENEL DUMITRASCU</h1>
      <p class="hero-sculptures">SCULPTURES</p>
    </div>
  </div>
</section>
{% endblock %}